{% extends "app/layout.html" %}

{% block content %}

<div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
        <h2>{{ title }}</h2>
        <h4>Вкажіть, будь ласка, поточний пароль</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group
                {% if form.old_password.errors %}
                 has-error
                {% endif %}">
                    <label for="id_old_password" class="col-md-6
                    control-label">Поточний пароль</label>
                    <div class="col-md-6">
                        {{ form.old_password }}
                        {% if form.old_password.errors %}
                            <p class="bg-danger">
                                {{ form.old_password.errors }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group
                {% if form.new_password1.errors %}
                 has-error
                {% endif %}">
                    <label for="id_new_password1" class="col-md-6
                    control-label">новий пароль</label>
                    <div class="col-md-6">
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <p class="bg-danger">
                                {{ form.new_password1.errors }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group
                {% if form.new_password2.errors %}
                 has-error
                {% endif %}">
                    <label for="id_new_password2" class="col-md-6
                    control-label">новий пароль ще раз</label>
                    <div class="col-md-6">
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            <p class="bg-danger">
                                {{ form.new_password2.errors }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-6 col-md-6">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Змінити" class="btn
                         btn-lg btn-primary btn-block" />
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-2">
        {% load staticfiles %}
        <img src="{% static 'app/content/tpp_logo.gif' %}" class="img-circle">
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
