{% extends "app/layout.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <hr/>
    {% if client_form.errors or user_form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ user_form.errors }}
    </div>
    <div class="alert alert-danger" role="alert">
        {{ client_form.errors }}
    </div>
    {% endif %}
    <form method="post" class="form-horizontal"
          action="{% url 'profile' %}" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            <div class="col-md-3 text-center">
                <img src="{{ client.avatar.url }}" class="img-thumbnail"
                     style="width:200px; height:200px;" id="id_avatar_img">
                <label class="btn btn-primary btn-lg btn-block btn-file">
                    Змінити аватар <input id="id_avatar" type="file"
                                          style="display: none;"
                                          name="avatar"
                                          value="{{ client.avatar.url }}">
                </label>
            </div>
            <div class="col-md-8 col-md-offset-1">
            {% if user_form.username.errors %}
                <div class="form-group has-error">
                    <div class="col-md-5 col-md-offset-2"
                         style="margin-bottom: -15px;">
                        <h4><span class="label label-danger">
                        {{ user_form.username.errors.as_text }}
                        </span></h4>
                    </div>
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="id_username" class="col-md-2
                    control-label">Логін</label>
                    <div class="col-md-5
                         {% if user_form.username.errors %} has-error
                         {% endif %}
                    ">
                        <input type="text" class="form-control"
                               id="id_username" placeholder="ваше ім'я"
                        name="username" value="{{ cur_user.username }}">
                    </div>
                    <div class="col-md-5">
                        <h3><span class="label
                        {% if client.balance < 0 %}
                        label-danger
                        {% elif client.balance == 0 %}
                        label-warning
                        {% else %}
                        label-success
                        {% endif %}
                        ">Баланс: {{ client.balance }} грн.</span></h3>
                    </div>
                </div>
            {% if user_form.email.errors %}
                <div class="form-group has-error">
                    <div class="col-md-10 col-md-offset-2"
                         style="margin-bottom: -15px;">
                        <h4><span class="label label-danger">
                        {{ user_form.email.errors.as_text }}
                        </span></h4>
                    </div>
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="id_email" class="col-md-2
                    control-label">Email</label>
                    <div class="col-md-5">
{#                      <p class="form-control-static">{{ user.email }}</p>#}
                        <input type="text" class="form-control"
                               id="id_email"
                               placeholder="ваша електронна адреса"
                               name="email" value="{{ cur_user.email }}">
                    </div>
                </div>
                <h4><span class="label
                label-default">Керівник</span></h4>
            {% if user_form.first_name.errors %}
                <div class="form-group has-error">
                    <div class="col-md-10 col-md-offset-2"
                         style="margin-bottom: -15px;">
                        <h4><span class="label label-danger">
                        {{ user_form.first_name.errors.as_text }}
                        </span></h4>
                    </div>
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="id_first_name" class="col-md-2
                    control-label">Ім'я</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control"
                               id="id_first_name" placeholder="ваше ім'я"
                        name="first_name" value="{{ cur_user.first_name }}">
                    </div>
                </div>
            {% if user_form.last_name.errors %}
                <div class="form-group has-error">
                    <div class="col-md-10 col-md-offset-2"
                         style="margin-bottom: -15px;">
                        <h4><span class="label label-danger">
                        {{ user_form.last_name.errors.as_text }}
                        </span></h4>
                    </div>
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="last_name" class="col-md-2
                    control-label">Фамілія</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control"
                               id="last_name" placeholder="ваша фамілія"
                        name="last_name" value="{{ cur_user.last_name }}">
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <h4><span class="label label-default">Загальні дані</span></h4>
            </div>
            <div class="col-md-6">
                <h4><span class="label label-default">Контакти</span></h4>
            </div>
        </div>
    {% if client_form.name.errors or client_form.address.errors %}
        <div class="form-group has-error">
            <div class="col-md-4 col-md-offset-2"
                 style="margin-bottom: -15px;">
            {% if client_form.name.errors %}
                <h4><span class="label label-danger">
                {{ client_form.name.errors.as_text }}
                </span></h4>
            {% else %}
                &nbsp;
            {% endif %}
            </div>
            <div class="col-md-4 col-md-offset-2"
                 style="margin-bottom: -15px;">
            {% if client_form.address.errors %}
                <h4><span class="label label-danger">
                {{ client_form.address.errors.as_text }}
                </span></h4>
            {% endif %}
            </div>
        </div>
    {% endif %}
        <div class="form-group">
            <label for="name" class="col-md-2
            control-label">* Назва</label>
            <div class="col-md-4
            {% if client_form.name.errors %} has-error{% endif %}">
                <input type="text" class="form-control"
                       id="name" placeholder="коротка назва"
                       name="name" maxlength="250"
                       value="{{ client.name }}">
            </div>
            <label for="address" class="col-md-2
            control-label">Адреса</label>
            <div class="col-md-4
            {% if client_form.address.errors %} has-error{% endif %}">
                <input type="text" class="form-control"
                       id="address" placeholder="фактична адреса"
                       name="address" maxlength="100"
                       value="{{ client.address}}">
            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-md-2
            control-label">Повна назва</label>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       id="full_name" placeholder="повна назва"
                       name="full_name" maxlength="250"
                       value="{{ client.full_name }}">
            </div>
            <label for="phone" class="col-md-2
            control-label">Телефон</label>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       id="phone" placeholder="ваш телефон"
                       name="phone" maxlength="20"
                       value="{{ client.phone }}">
            </div>
        </div>
        <div class="form-group">
            <label for="code_ipn" class="col-md-2
            control-label">Код ЄДРПОУ/ДРФО</label>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       id="code_ipn" placeholder="ваш код ЄДРПОУ/ДРФО"
                       name="code_ipn" maxlength="12"
                       value="{{ client.code_ipn }}">
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-md-12">
                <h4>
                    <span class="label label-default">
                        Ваша загальна оцінка для РТПП
                    </span>
                </h4>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-12">
                {% for mark in marks %}
                <label class="radio-inline">
                    <input type="radio" name="overall_mark" id="inlineRadio"
                            value="{{ mark.id }}"
                            style="position: absolute"
                            {% if client.overall_mark_id == mark.id %}
                            checked="checked"
                            {% endif %}>
                            {{ mark.name }}
                    <img src="{{ mark.picture }}" class="img-circle"
                    style="width: 100px; height: 100px">
                </label>
                {% endfor %}
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="com-md-4 text-center">
                <button type="submit" class="btn btn-primary btn-lg">
                    Зберегти зміни
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#id_avatar_img').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#id_avatar").change(function(){
        readURL(this);
    });
    </script>
{% endblock %}